/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

.container-wide {
  position:relative;
  width:100%;
  margin:0;
  padding:0;
}

.container-wide>.row{
  margin-bottom: 2rem;
}
@media (max-width: 549px) {
  .container-wide>.row{
    padding:0;
  }
  .container-wide>.row-padding{
    padding:0 3rem;
  }
}
@media (min-width: 550px) {
  .container-wide>.row{
    padding:0 5rem;
  }
}

.cta-container{
  background-color: #fff;
  margin:5rem 0;
  text-align:center;
}
@media (max-width: 549px) {
  .cta-container{
    padding:5rem 5rem;
  }
}
@media (min-width: 550px) {
  .cta-container{
    padding:5rem 10rem;
  }
}

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html { font-size: 62.5%; }
body {
  margin:0;
  font-size: 1.8em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  /* font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-family: 'Montserrat', sans-serif;
  color: #222;
  background-color: #FAF9F6;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@font-face {
  font-family: MrDafoe;
  src: url(fonts/MrDafoe-Regular.ttf);
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
  font-family: 'Bree Serif', serif; }
h1 { font-size: 3.5rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.0rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 2.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 1.8rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.8rem; line-height: 1.6;  letter-spacing: 0; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 4.0rem; }
  h2 { font-size: 3.0rem; }
  h3 { font-size: 2.0rem; }
  h4 { font-size: 1.8rem; }
  h5 { font-size: 1.8rem; }
  h6 { font-size: 1.8rem; }
}

p {
  margin-top: 0; }

.wcc-guidefooter{
  font-style: italic;
  font-weight: bold;
}

.wrc-question{
  font-size:1.2em;
  font-style: italic;
  font-weight: bold;
  font-family: 'Bree Serif', serif;
  margin-bottom: 2em;
}

blockquote{
  font-family: 'Bree Serif', serif;
}

.wrc-bree-serif{ font-family: 'Bree Serif', serif; }
.wrc-signature{ font-size: 4rem; font-family: 'MrDafoe', cursive; }

.wrc-fa{
  font-size: 4rem;
}
.wrc-fa-project{
  font-size: 8rem;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a { color: #1EAEDB; font-family: 'Bree Serif', serif; }
a:hover { color: #0FA0CE; }

.wcc-whitelink{
  color:white;
}

.wcc-nav{
  text-align: right;
}
.wcc-navitem{
  margin-right:3rem;
}

.wrc-see-all{
  border: 1px solid black;
  border-radius: 10px;
  margin:1em 0;
  padding:0.2em;
  font-size:1.2em;
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }

.button-light{
  color:#fff;
  background-color: #BDB9B7;
  border-color: #FAF9F6;
}
.button-dark{
  color:#BDB9B7;
  background-color: #102027;
  border-color: #BDB9B7;
}

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }

.wrc-search{
  width: 100%;
}

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space : pre-wrap;
  border-radius: 5px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre-wrap; }

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }

.wrc-h1{
  margin-top:1em;
}

.wrc-mt1{ margin-top:1em; }

.wrc-pl1{ padding-left:1em; }
.wrc-pr1{ padding-right:1em; }

/* Post Headers
-------------------------------------------------- */
.wrc-headercontainer{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin:0 0 5rem 0;
}
.wrc-postheader{
  text-align: center;
}
@media (max-width: 549px) {
  .wrc-postheader{
    margin:4rem 0;
  }
}
@media (min-width: 550px) {
  .wrc-postheader{
    margin:4rem 4rem;
  }
}
.wrc-postheadercontents{
  width:50%;
  margin:auto;
  background-color: #FAF9F6;
  padding:2rem 4rem;
  border-radius: 10px;
}

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }

img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wcc-border-left{
  border-left: 5px solid;
  padding-left:30px;
  margin-left:-35px;
}

.wcc-border-white{
  border-color: #fff;
}
.wcc-border-light{
  border-color: #62727B;
}
.wcc-border-dark{
  border-color: #102027;
}

.wcc-guide-container > div{
  margin-bottom: 2rem;
}
.wcc-guide-container > div:nth-child(even){
  background-color: #BDB9B7;
  color:#37474F;
}
.wcc-guide-container > div:nth-child(odd){
  background-color: #102027;
  color:#fff;
}

pullquote {
  display:block;
  font-style: italic;
  font-weight: bold;
  padding:30px 20px;
  margin:20px 0;
  border-radius: 10px;
  background-color: #BDB9B7;
  text-align: left;
}
pullquote > a { color:#fff; }

.wrc-sitelogo{
  text-decoration: none;
  color:#102027;
  font-size: 3rem;
}
.wrc-navlink{
  margin-left:2rem;
}

.wrc-blogheader{
  background-color: #112B3A;
  color: #fff;
}

@media (max-width: 549px) {
  .wrc-mm-dl{
    text-align: center;
  }
  .wrc-mm-dr{
    text-align: center;
  }
  .wrc-mm-dm{
    text-align: center;
    margin:1rem 0;
  }
}
@media (min-width: 550px) {
  .wrc-mm-dl{
    text-align: left;
  }
  .wrc-mm-dr{
    text-align: right;
  }
  .wrc-mm-dm{
    text-align: center;
  }
}


/* Cards
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.wrc-card-container, .wrc-card-container-wide, .wrc-card-container-projects, .wrc-card-container-services{
  max-width:100%;
  margin: 0 auto;
  display: grid;
  gap: 2rem;
}
.wrc-card-container > div:nth-child(odd), .wrc-card-container-wide > div:nth-child(odd){
  background-color: #BDB9B7;
  color:#37474F;
}
.wrc-card-container > div:nth-child(even), .wrc-card-container-wide > div:nth-child(even), .wrc-card-container-projects > div{
  background-color: #102027;
  color:#fff;
}
@media (min-width: 900px) {
  .wrc-card-container { grid-template-columns: repeat(2, 1fr); }
  .wrc-card-container-projects { grid-template-columns: repeat(1, 1fr); }
  .wrc-card-container-services { grid-template-columns: repeat(2, 1fr); }
}
@media (min-width: 1200px) {
  .wrc-card-container { grid-template-columns: repeat(3, 1fr); }
  .wrc-card-container-projects { grid-template-columns: repeat(2, 1fr); }
  .wrc-card-container-services { grid-template-columns: repeat(3, 1fr); }
}
.wrc-card {
  display:flex;
  min-height: 200px;
  border-radius:10px;
}
.wrc-card-image {
  flex:1;
  min-width:30%;
  max-width:30%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px 0 0 10px;
}
.wrc-card-text {
  padding:2rem;
}
.wrc-card-text > h2 {
  font-size:2em;
}
@media (min-width: 550px) {
  .wrc-card-text-project {
    padding-right:5rem;
  }
}
.wrc-card-image-project{
  flex:1;
  min-width:25%;
  max-width:25%;
  border-radius: 10px 0 0 10px;
  margin:auto;
  text-align: center;
}
@media (max-width: 549px) {
  .wrc-card-image-project{
    display:none;
  }
}

.wrc-card-container-services{
  margin-top: 3rem;
  width:100%;
  text-align: center;
}
.wrc-card-services{
  margin:auto;
}

.wrc-hero-card {
  display:flex;
  min-height: 200px;
  border-radius:10px;
}
.wrc-hero-card-image {
  flex:1;
  min-width:40%;
  max-width:40%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 10px 10px 0;
}
@media (max-width: 900px) {
  .wrc-hero-card-image { display: none; }
}
.wrc-hero-card-text {
  padding:5rem;
}
.wrc-hero-card-text > h2 {
  font-size:2em;
}

.hero-card-dark {
  background-color: #102027;
  color:#fff;
}
.hero-card-light {
  background-color: #BDB9B7;
  color:#37474F;
}
.hero-card-light a{
  color:#fff;
}

/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

/* essential styles from main CSS file */

@media (max-width: 549px) {
  .wrc-sitetitle,.wrc-sitetitlemain{ padding:1.5rem 0; }
}
@media (min-width: 550px) {
  .wrc-sitetitle,.wrc-sitetitlemain{ padding:5rem 0; }
}

.wrc-parenthesis::before{content:"[["}
.wrc-parenthesis::after{content:"]]"}

.wrc-bold{ font-weight: bold; }
.wrc-italics{ font-style: italic; }

.wrc-pb5{padding-bottom: 5rem;}

.wrc-font{
  font-family: 'Red Hat Mono', monospace;
}

/* Business Card
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.business-card-background-dark{
  background-color: #102027;
  color:#fff;
  padding-bottom:1.5em;
}
.business-card-background-effpink{
  background-color: #EA5792;
  color:#fff;
  padding-bottom:1.5em;
}
.business-card-text-center{
  text-align:center;
}
.business-card-heading{
  padding:1em;
}
.business-card-contact-container{
  display:grid;
  grid-template-columns: 25% 75%;
  padding-bottom: 1em;
}
.business-card-button-row{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
}
.business-card-button-one{ grid-column: 1/2; }
.business-card-button-two{ grid-column: 2/3; }
.business-card-button-three{ grid-column: 3/4; }
@media (max-width: 549px) {
  .business-card-image{
    width:80%;
  }
  .business-card-button-row,
  .business-card-contact-container{
    width:100vw;
  }
}
@media (min-width: 550px) {
  .business-card-image{
    width:30%;
    border-radius:100px;
  }
  .business-card-button-row,
  .business-card-contact-container{
    width:50vw;
    margin:0 auto;
  }
}
.business-card-button-row > span,
.business-card-icon{
  text-align: center;
}
.business-card-button > a,
.business-card-download-contact > p > a{
  color:#fff;
  text-decoration: none;
}
.business-card-icon{
  grid-column: 1/2;
}
.business-card-info{
  grid-column: 2/3;
}
.business-card-social-icon{
  text-align: center;
  display:inline-block;
  width:30vw;
  padding-bottom: 2em;
}
.business-card-info > a,
.business-card-social-icon > a{
  color:#37474F;
  text-decoration: none;
}

.business-card-download-contact > p {
  padding-top:1em;
  text-align: center;
}