@font-face {
    font-family: Montserrat;
    src: url(fonts/montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Bree-Serif;
    src: url(fonts/bree-serif/BreeSerif-Regular.ttf);
}

body{font-size:15; width:100%; margin:0; padding:0;}
h1{font-size:30px; font-weight: 900; padding:10px 0;}
h2{font-size:25px; padding:5px 0;}
h3{font-size:20px; padding:5px 0;}
h4{font-size:18px; padding:5px 0;}
h5{font-size:15px; padding:5px 0;}
/*
h1, h2, h3, h4, h5{
    display:block;
}
*/
.navbar-expand-lg{ max-width:100%; padding:0; margin:0; }

@media (max-width:991px){
    .wc-nav-padding{
        margin:0 20px;
        padding: 10px;
    }
    .wc-nav-spacing{
        padding-top:50px;
    }

    .wc-footer-padding{
        padding:20px 20px;
    }

    .wc-one-col{
        padding-left:50px;
        padding-right:50px;
    }
    .wc-two-col{
        margin-left:10px;
        margin-right:10px;
    }

    .wc-see-more-spacing{
        margin:20px 0;
    }

    .wc-mobile-latest-banner{
        background-color: #37474F;
        color: #fff;
        text-align: center;
    }

    .text-link-banner{
        color:#fff;
        font-weight: bold;
        padding-bottom: 0.5em;
    }
}
@media (min-width:992px) {

    .wc-h1-small{padding:0 10px;}
    .wc-h1-small-initial{padding-left:20px;padding-right:10px;}

    .wc-nav-padding{
        margin:0;
        padding: 40px 0;
    }
    
    .wc-nav-spacing{
        padding-top:80px;
    }

    .wc-one-col{
        padding-left:350px;
        padding-right:350px;
    }
    .wc-two-col{
        padding-left:150px;
        padding-right:150px;
    }

    .wc-post-header-text{
        padding-left:50px
    }

    .wc-footer-padding{
        padding:30px 20px;
    }

    .wc-mobile-latest-banner{
        display: none;
    }
}

.nav-link{
    font-size: large;
}

.wc-content-card-spacing{
    margin-bottom: 30px;
}

.wc-post-header{
    padding:30px 0;
}

.wc-post-image{
    min-height: 200px;
    background-size: cover;
    background-position: center;
}

.wc-sticky-top{
    position: sticky;
    top: 180px;
}

.font-breeserif{
    font-family: 'Bree-Serif' !important;
}

.font-montserrat{
    font-family: 'Montserrat' !important;
}

body {
	overflow-x:hidden;
	padding-top:69.75px;
	font-family: 'Montserrat';
    background-color: #fffaed;
}
.homefirstpage .main-loop .main-loop-card:nth-child(-n+5) {
	display:none !important;
}
img {
	max-width:100%;
}
.img-fullwidth{
    width:100%;
}

.card-image-latest{
    background-size: cover;
    background-position: center;
    height:60px;
    cursor: pointer;
    margin:0 15px;
}

.card-image-main{
    background-size: cover;
    background-position: center;
    height:150px;
    cursor: pointer;
    margin:15px;
}

.fiction-header-image{
    height:50vh;
    background-size: cover;
    background-position: center center;
}
.fiction-header-text{
    padding:2em;
}
.homepage-posts .container:nth-child(-n+4) {
	display:none !important;
}

@media (max-width:991px){
    .main-body-row, .main-header-row{
        padding-left:50px;
        padding-right:50px;
    }
}
@media (min-width:992px) {
    .main-body-row, .main-header-row{
        padding-left:100px;
        padding-right:100px;
    }
}

.section-heading{
    margin:10px 0 20px 0;
}

.main-header-row,.main-body-row{
    margin:0;
    padding-top:10px;
    padding-bottom:20px;
}

.front-page-see-more{
    text-align: right;
    margin-bottom: 2em;
    padding-right:1em;
}

.anchor-link{
    scroll-behavior: smooth;
}

.anchor-header::before{
    display: block; 
    content: " "; 
    margin-top: -180px; 
    height: 180px; 
    visibility: hidden; 
    pointer-events: none;
}

.latest-card-excerpt{
    font-size:1rem;
}

blockquote {
    border-left: .25em solid #dfe2e5;
    color: #6a737d;
    padding: 0 1em;
}

pullquote{
    display:block;
    font-size:1.2em;
    background-color: #dfe2e5;
    padding:15px 60px;
    margin:30px 0;
    text-align:center;
}

@media (max-width:992px){
    .letter-page-background{
        margin-top:-10px;
        background-color: #fffaed;
        padding:5vh 5vw;
    }
    .letter-container{
        background-color: white;
        padding:5vh 5vw;
    }
}
@media (min-width:992px){
    .letter-page-background{
        margin-top:-20px;
        background-color: #fffaed;
        padding:10vh 10vw;
    }
    .letter-container{
        background-color: white;
        padding:10vh 10vw;
    }
}

.letter-header{
    text-align: center;
    margin-bottom: 50px;
}

.letter-header > h2{
    font-family: Bree-Serif;
}

.letter-subject{
    text-align: left;
    font-weight: bold;
}

.letter-date{
    text-align: right;
    font-weight: bold;
}

.letter-content{
    padding-top: 20px;
}

.letter-otherbox{
    margin-top:40px;
    text-align: center;
}

.letter-signature{
    background-image: url("https://willchurchill.co.uk/assets/images/generic/wc-signature.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width:250px;
    height:100px;
}

.letter-signoff{
    font-weight: bold;
    margin-left:20px;
}

.banner-main-post-image{
    height:200px;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    margin:15px;
    cursor: pointer;
}

.banner-secondary-post-image{
    height:120px;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    margin:15px;
    cursor: pointer;
}

@media (min-width:992px){
    .banner-secondary-post-text{
        margin-top:15px;
    }
}

.text-link{
    color:#212529;
}

.fif-header-image{
    min-height:30vh;
    background-size: cover;
    background-position: center center;
}
.fif-header-text{
    padding:2em;
}

.fif-item{
    padding:20px 50px;
}

table, th, td {
    padding: 1em;
}
th{
    background-color: black;
    font-weight: bold;
    color:white;
}
tr:nth-child(even){background-color: #f2f2f2;}
tr:hover{
    background-color:#ddd;
}

.fiveinfive-intro{
    margin:1em;
    text-align:center;
    font-size:1.2em;
    font-weight: bold;
    font-style: italic;
}